# Rust's output directory
target

# Local settings
.soroban
.stellar

# Node dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Environment variables
.env
.env.*

# Build outputs
backend/dist/
frontend/.next/
frontend/out/

# Testing and Scratch scripts
test-*
scratch.ts
scratch.js
